/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: local('Lato Italic'), local('Lato-Italic'), url(https://fonts.gstatic.com/s/lato/v15/S6u8w4BMUTPHjxsAUi-qNiXg7eU0.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: local('Lato Italic'), local('Lato-Italic'), url(https://fonts.gstatic.com/s/lato/v15/S6u8w4BMUTPHjxsAXC-qNiXg7Q.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  src: local('Lato Bold Italic'), local('Lato-BoldItalic'), url(https://fonts.gstatic.com/s/lato/v15/S6u_w4BMUTPHjxsI5wq_FQftx9897sxZ.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  src: local('Lato Bold Italic'), local('Lato-BoldItalic'), url(https://fonts.gstatic.com/s/lato/v15/S6u_w4BMUTPHjxsI5wq_Gwftx9897g.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v15/S6uyw4BMUTPHjxAwXiWtFCfQ7A.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v15/S6uyw4BMUTPHjx4wXiWtFCc.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(https://fonts.gstatic.com/s/lato/v15/S6u9w4BMUTPHh6UVSwaPGQ3q5d0N7w.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(https://fonts.gstatic.com/s/lato/v15/S6u9w4BMUTPHh6UVSwiPGQ3q5d0.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

a {
  color: #008cc0;
  text-decoration: none;
}

a:focus,
a:hover {
  color: #eb430b;
  text-decoration: none;
}

body{
  margin: 0;
}
td,
th,
tr,
p,
a {
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
  font-size: 16px;
  font-size: inherit;
}

strong {
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
}

h2 {
  margin: 0;
  font-weight: normal;
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
  font-size: 24px;
}

.papertitle {
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 700;
}

.name {
  padding-top: 20px;
  margin: 0;
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
  font-size: 32px;
}

.one {
  width: inherit;
  height: inherit;
  position: relative;
}

.two {
  width: inherit;
  height: inherit;
  position: absolute;
  transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
}

.fade {
  transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
}

section {
  padding-top: 0;
}

ul{
  width: 100%;
  position: fixed;
  list-style: none;
  background-color: #ffffff;
  text-align:center;
  padding-inline-start: 0%;
  margin-block-start: 0%;
  z-index: 999;
}

ul li{
  display: inline-block;
  /* position:sticky; */
}

ul li a{
  padding: 10px;
  display: block;
  color: #616161;
  
}

ul li a:hover{
  color: #6493df;
  /* font-size: 17px; */
}

@media (max-width: 1240px) {
  .desktop-component {
      display: none;
  }

  .mobile-component {
      display: block;
  }
}

/* 在屏幕宽度大于 1240px 时，显示电脑组件，隐藏手机组件 */
@media (min-width: 769px) {
  .desktop-component {
      display: block;
  }

  .mobile-component {
      display: none;
  }
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  justify-content: flex-start;
}

.item {
  width: 15%;
  margin: 0.83%;
  text-align: center;
}

@media screen and (max-width: 769px){
  .item {
    width: 23%;
    margin: 1%;
    text-align: center;
  }
}

.item img {
  width: 100%; 
  max-width: 120px;
  object-fit: auto; 
  object-position: center;
}

.item p {
  margin: 16px 0;
  font-size: 14px;
}

.CVPR {
  background-color: #4192e8; 
  border-radius: 4px; 
  padding-left: 4px; 
  padding-right: 4px; 
  padding-top: 2px; 
  padding-bottom: 2px; 
  display: inline-block; 
  color: #ffffff;
}

.insub {
  background-color: #858585; 
  border-radius: 4px; 
  padding-left: 4px; 
  padding-right: 4px; 
  padding-top: 2px; 
  padding-bottom: 2px; 
  display: inline-block; 
  color: #ffffff;
}

.interest {
  background-color: #ffffff; 
  border-radius: 4px; 
  padding: 4px; 
  display: inline-block; 
  color: #464646;
}

.interest:hover{
  background-color: #dedede; 
  color: #000000;
}

hr {
  border: none;
  height: 1px;
  background-color: rgb(231, 231, 231);
}

.image-text-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  align-items: flex-start;
}
.image-text-container .image {
  flex: 1;
  max-width: 60px;
  text-align: top;
}
.image-text-container .text {
  flex: 1;
  padding-left: 20px;
}
.image-text-container img {
  max-width: 100%;
  height: auto;
}


.paper-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background: linear-gradient(110deg, #ffffff, #ffffff, #ffffff,#ffffff,#ffffff, #e1ebf2, #c9e8e8);
  background-size: 200% 200%;
  background-position: left;
  transition: background-position 0.25s ease;
  border-radius: 10px;
}
.paper-container .image {
  flex: 1;
  max-width: 180px;
  text-align: top;
  padding-right:20px;
}
.paper-container .text {
  flex: 1;
  padding-left: 20px;
  text-align: justify;
}
.paper-container img {
  max-width: 100%;
  height: auto;
}

.paper-container:hover {
  background-position: right;
}

.experience-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background: linear-gradient(110deg, #ffffff, #ffffff, #ffffff,#ffffff,#ffffff, #e1ebf2, #c9e8e8);
  background-size: 200% 200%;
  background-position: left;
  transition: background-position 0.25s ease;
  border-radius: 10px;
}
.experience-container .image {
  flex: 1;
  max-width: 80px;
  text-align: top;
  padding-right:20px;
}
.experience-container .text {
  flex: 1;
  padding-left: 20px;
  text-align: justify;
}
.experience-container img {
  max-width: 100%;
  height: auto;
}

.experience-container:hover {
  background-position: right;
}



td {
  padding-left: 2px;
  padding-right: 2px;
}

.bio {
  flex: 1 1 70%;
  padding: 20px;
}
.bio p {
  text-align: justify; /* Adjust text alignment as needed */
}
.links {
  text-align: center;
  margin-top: 1em;
}
.links a {
  text-decoration: none;
  margin: 0 5px;
}

.face-name {
  padding-top: 10px;
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  align-content: center;
}
.profile-img {
  width: 150px;
  border-radius: 50%;
  object-fit: cover;
}
.name-info {
  flex: 1;
  font-size: 30px;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
}
.logo-container img {
  height: 50px;
  /* width: 50px; */
  margin-right: 5px;
  margin-left: 5px;
  border-radius: 10%;
}

.timeline {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
  font-family: Arial, sans-serif;
}
.event {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
  border-bottom: 1px solid #ddd;
}
.date {
  font-weight: bold;
  text-align:center;
  padding-right: 10px;
}
.description {
  flex-grow: 1;
  padding-left: 10px;
}